{% block content %} {% load static %}
<!--Блок, который будет встариваться в виде футера-->

<footer class="footer container-fluid">
  <div class="row">
    <div class="col-sm-10">
      <h6 class="col-12 m-auto">Расписание УрТИСИ 2020</h6>
    </div>
    
      <!-- <div class="col-1">
        <a class="row col-12 " href="https://ist.uisi.ru/">
          <img src="{% static 'img/logo_IST.png' %}" />
        </a>
      </div>
      <div class="col-1">
        <a class="row col-12" href="https://vk.com/raspisanie_urtisi">
          <img src="{% static 'img/logo_VK.png' %}" />
        </a>
      </div> -->
    </div>
  </div>
</footer>

{% endblock %}
